h1 Bootstrap starter template
p.lead
  | Use this document as a way to quickly start any new project.
  br
  |  All you get is this text and a mostly barebones HTML document.

button.btn.btn-primary(ng-click='newReport()') New Report

h3 List of Awesome Things
ul
  li(ng-repeat="thing in awesomeThings").
    {{ thing }}
